
//colors
$color-primary: #ff6b35;
$color-primary-light: #ff9d62;
$color-primary-dark: #c53902;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;